// app global css
/*#page-container
  background: url(../assets/img/background4.jpg) fixed
  background-position: 50% 0
  background-size 70vh 100vh*/

.caption
  font-weight: bold;
  text-align: center;
